@font-face{
	font-family:Bangers;
	src: url(fonts/Bangers.ttf);
	font-style:cursive;
	font-weight: 100;
}
body{
	margin:0;
	background-color: black;
	padding: 50px;
	line-height: 30px;
}
header{
	background-color: #870b09;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 25px double;
}

header h1{
	font-size: 75px;
	color: white;
}
header h1, h2{
	font-family:Bangers, cursive;
}
header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid #160807;
}

h2{
	color:  #870b09;
	font-size: 50px;
}

/*lists*/

ul,ol{
	list-style-position: inside;
}

/*links*/
a {
	font-family: Bangers;
	color:  white;
	font-size: 35px; 
}

a:hover{
	color:#870b09;
}

main img{
	border: 20px solid  #870b09;
}
main{
	margin:0;
	text-align: center;
	align-items: center;
	color:white;
	/*padding: 0 30px;*/
}
footer{
	text-align: center;
	color:white;
	margin:0;
	background-color: #870b09;
	border: 20px double black;
}


p.caption{
	font-style: italic;
	margin-top: 0;
	font-family: Bangers
}